@model IEnumerable<ProductDemo.Data.Model.ProductFeature>

@{
    ViewBag.Title += " Ürün Özellikleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.SelectedProduct.ProductName Özellikleri
</h2>

<p>
    @Html.ActionLink("Yeni Özellik", "Create", new { id = ViewBag.SelectedProduct.ProductId }, new { })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>
    @Html.Hidden("selectedProductId", (string)ViewBag.SelectedProduct.ProductId.ToString(), new { })
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.ProductFeatureId, productId = ViewBag.SelectedProduct.ProductId }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.ProductFeatureId, productId = ViewBag.SelectedProduct.ProductId }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.ProductFeatureId })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Listeye Dön", "Index", "Product")
</div>